<div class="title-container-elements">
    <div class="title-container">
        <h1>Votre historique de recherche</h1>
    </div>
    <span (click)="onClick('all')">Tout supprimer</span>
</div>
<div *ngIf="showSpinner" class="spinner-border"></div>
<span *ngIf="!showSpinner && !hasResult">Aucun résultat</span>
<ng-container *ngIf="!showSpinner && hasResult">
    <div *ngFor="let el of history" class="section-card w-100 hover mb-2">
        <i (click)="onClick(el.id)" class="bi bi-x-lg cross"></i>
        <div class="result">
            <span class="date">
                Le {{ el.searchedAtFrench }}
            </span>
            <span class="subject">
                <i class="bi bi-file-text-fill ms-2"></i>
                <ng-container *ngIf="el.subject === ''">
                    Recherche vide
                </ng-container>
                <ng-container *ngIf="el.subject !== ''">
                    {{ el.subject }}
                </ng-container>
            </span>
        </div>
    </div>
</ng-container>