<h1>Patients à saisir</h1>
<table class="table table-striped table-hover">
    <thead>
        <tr>
          <th scope="col">Prénom</th>
          <th scope="col">Nom</th>
          <th scope="col">Date de naissance</th>
          <th scope="col">Téléphone</th>
          <th scope="col">Mail</th>
          <th scope="col">Facturé</th>
        </tr>
    </thead>
    <tbody>
        <tr routerLink="/home">
            <th scope="row">sacha</th>
            <td>F</td>
            <td>8/0/8</td>
            <td>07899</td>
            <td>k@l?</td>
            <td>Non</td>
        </tr>
        <tr routerLink="/home">
            <th scope="row">sacha</th>
            <td>F</td>
            <td>8/0/8</td>
            <td>07899</td>
            <td>k@l?</td>
            <td>Non</td>
        </tr>
    </tbody>
</table>