<h1>Bonjour {{ firstName }} !👋🏼</h1>
<div class="d-flex card-stat-container">
  <div class="section-card white hover algin-self-start stats-detection-filled m-0 me-2">
    <h2>Vos statistiques saisies patients</h2>
    <div *ngIf="showUserStatSpinner" class="spinner-border relative"></div>
    <canvas
      *ngIf="!showUserStatSpinner"
      baseChart
      [datasets]="barChartUserData"
      [labels]="barChartUserLabels"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
    >
    </canvas>
  </div>
  <div class="section-card white hover algin-self-start stats-detection-filled m-0 ms-2">
    <h2>Les statistiques saisies patients de l'équipe</h2>
    <div *ngIf="showTeamStatSpinner" class="spinner-border relative"></div>
    <canvas
      *ngIf="!showTeamStatSpinner"
      baseChart
      [datasets]="barChartTeamData"
      [labels]="barChartTeamLabels"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
    >
    </canvas>
  </div>
</div>
<div class="section-card hover blue-medium detection-remaining mt-2 d-flex algin-self-start m-0">
  <div *ngIf="!detectionTestRemaining" class="spinner-border relative"></div>
  <div *ngIf="detectionTestRemaining" class="d-flex flex-column">
    <h3>Il reste {{ detectionTestRemaining.countText }} tests à saisir !</h3>
    <span>
      {{ detectionTestRemaining.message }}
    </span>
  </div>
</div>