@import '../../../assets/scss/variables.scss';

.card-stat-container {
    &.three-cards {
        .section-card {
            width: 32.5%;
        }
    }
}

.stats-detection-filled {
    max-height: 350px;
    height: 350px;
    //min-width: 550px;
    //max-width: 700px;
    width: 50%;

    canvas {
        max-height: 80%!important;
        height: 280px!important;
    }
}

.detection-remaining {
    width: 50%;
}

.section-card {
    span {
        margin-bottom: 10px;
    }

    canvas {
        width: 100%!important;
        background: white;
        border-radius: 5px;
        height: auto!important;
    }
}

@media (max-width: $small-screen) {
    .stats-detection-filled {
        max-height: 250px;
        height: 250px;
        min-width: 350px;
    
        canvas {
            max-height: 150px!important;
            height: 150px!important;
        }
    }
}

@media (max-width: $mobile) {
    .card-stat-container {
        flex-direction: column;

        .stats-detection-filled {
            max-height: 250px;
            height: 250px;
            width: 100%;
            min-width: unset;
            margin: 0!important;
            margin-bottom: 10px!important;
        
            canvas {
                max-height: 150px!important;
                height: 150px!important;
            }
        }
    }

    .detection-remaining, .contact {
        width: 100%;
        min-width: unset;
    }

    .contact {
        margin-top: 5px;
        margin-left: 0!important;
    }
}