<h1>Bonjour {{ firstName }} !👋🏼</h1>
<div class="d-flex three-cards card-stat-container justify-space-between">
  <div class="section-card white hover align-self-start stats-detection-filled">
    <h2>Mes statistiques</h2>
    <app-spinner *ngIf="showUserStatSpinner"/>
    <canvas
      *ngIf="!showUserStatSpinner"
      baseChart
      [datasets]="barChartUserData"
      [labels]="barChartUserLabels"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
    >
    </canvas>
  </div>
  <div class="section-card white hover algin-self-start stats-detection-filled">
    <h2>Les statistiques de l'équipe</h2>
    <app-spinner *ngIf="showTeamStatSpinner"/>
    <canvas
      *ngIf="!showTeamStatSpinner"
      baseChart
      [datasets]="barChartTeamData"
      [labels]="barChartTeamLabels"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
    >
    </canvas>
  </div>
  <div class="section-card white hover align-self-start stats-detection-filled">
    <h2>Mes gains par jour</h2>
    <app-spinner *ngIf="showEarningSpinner" [white]="true"/>
    <canvas
      *ngIf="!showEarningChartSpinner"
      baseChart
      class="chart"
      [data]="lineChartData"
      [options]="lineChartOptions"
      [type]="lineChartType"
    ></canvas>
  </div>
</div>
<div class="d-flex align-items-start card-stat-container mt-2">
  <div class="section-card hover blue-medium detection-remaining d-flex algin-self-start m-0 me-1 col-3">
    <app-spinner *ngIf="!detectionTestRemaining" [white]="true"/>
    <div *ngIf="detectionTestRemaining" class="d-flex flex-column">
      <h3>
        <i class="fa-solid fa-pen"></i> 
        Il reste {{ detectionTestRemaining.countText }} tests à saisir !
      </h3>
      <span>
        {{ detectionTestRemaining.message }}
      </span>
      <a routerLink="/take-patient">
        <button class="white">
          <i class="fa-solid fa-list-ul"></i>
          Liste des patients à facturer
        </button>
      </a>
    </div>
  </div>
  <div class="d-flex flex-column section-card hover blue-medium ms-1 contact">
    <h3>
      <i class="fa-solid fa-headset"></i> 
      Le support est disponible !
    </h3>
    <span>Nous répondons par mail en quelques minutes pour une demande d'assistance.</span>
    <a routerLink="/support">
      <button class="white">
        <i class="fa-solid fa-message"></i>
        Demande de support
      </button>
    </a>
  </div>
</div>
<div class="d-flex align-items-start card-stat-container mt-2">
  <div class="section-card hover blue-medium detection-remaining d-flex algin-self-start m-0 me-1 col-3">
    <div class="d-flex flex-column">
      <h3>
        <i class="fa-solid fa-circle-info"></i> 
        Nouveau !
    </h3>
      <span>
        Vous pouvez désormais créer des exports des tests que vous avez facturés !
      </span>
      <a routerLink="/profile">
        <button class="white">
          <i class="fa-solid fa-user"></i>
          Aller sur mon profil
        </button>
      </a>
    </div>
  </div>
  <div *ngIf="isAdmin" class="section-card hover blue-medium detection-remaining d-flex algin-self-start m-0 me-1 col-3">
    <div class="d-flex flex-column">
      <h3><i class="fa-solid fa-file-export"></i> 
        {{ firstName }},
      </h3>
      <span>
        En tant qu'administrateur, vous pouvez créer des exports pour l'utilisateur de votre choix.
      </span>
      <a routerLink="/users">
        <button class="white">
          <i class="fa-solid fa-users"></i>
          Liste des utilisateurs
        </button>
      </a>
    </div>
  </div>
</div>
<div class="d-flex align-items-start card-stat-container mt-2">
  <div class="section-card hover blue detection-remaining d-flex algin-self-start m-0 me-1 col-3">
    <app-spinner *ngIf="showEarningSpinner" [white]="true"/>
    <div *ngIf="!showEarningSpinner" class="d-flex flex-column">
      <h3><i class="fa-solid fa-coins"></i> {{ earning['earning'] }} €</h3>
      <span>
        Estimation de ce que vous allez gagner à la fin du mois de {{ earning['month'] }} pour les tests que vous avez facturés si aucun rejet n'a lieu.
        <i
          class="fa-solid fa-circle-question"
          tooltip="Chaque test indiqué comme facturé, non renseigné comme facturé via AmeliPro, est compté 3€."
        ></i>
      </span>
    </div>
  </div>
</div>