<h1>Ajouter un utilisateur</h1>
<div class="section-card w-100">
    <form class="col-8" [formGroup]="addUserForm">
        <div class="d-flex justify-content-between col-12">
            <input formControlName="firstName" type="text" class="col-6 me-1" placeholder="Prénom">
            <input formControlName="lastName" type="text" class="col-6" placeholder="Nom">
        </div>
        <input formControlName="email" type="mail" class="col-12" placeholder="Adresse mail">
        <input formControlName="phone" type="phone" class="col-12" placeholder="Numéro de téléphone">
        <div class="d-flex box-info">
            <i class="bi bi-info-circle me-2"></i>
            <span>Cet utilisateur obtiendra un ROLE_USER (classique). Pour ajouter un admin, 
                <a href="javascript:;">nous contacter</a>
            </span>
        </div>
        <div class="d-flex box-info">
            <i class="bi bi-info-circle me-2"></i>
            <span>Cet utilisateur recevra un mail avec un lien de connexion dès confirmation de ce formulaire.</span>
        </div>
        <alert class="mt-2" *ngIf="isError" type="danger">
            {{ errorMessage }}
        </alert>
        <button [disabled]="addUserForm.invalid || showSpinner" (click)="onClick()" class="blue mt-2">
            <i *ngIf="!showSpinner" class="bi bi-plus-square"></i>
            <div *ngIf="showSpinner" class="spinner-border"></div>
            Ajouter
        </button>
    </form>
</div>