.section-card {
    background-color: white;
    width: 50%;
    margin: auto;
    padding: 20px;
    border-radius: $border-radius;
    box-shadow: 2px 2px 20px -19px $blue-dark;
    min-width: 410px;

    &.blue-medium {
        background-color: $blue-medium;

        div, span, h1, h2, h3 {
            color: white;
        }
    }

    &.blue {
        background-color: $blue;

        div, span, h1, h2, h3 {
            color: white;
        }
    }

    &.theme {
        background-color: $background-color;
        border: 1px solid $background-color;
    }
}