input, textarea, select, button  {
    border-radius: $border-radius!important;
    height: 35px!important;
    outline: none!important;
    margin-bottom: 10px!important;
    border: 2px solid $grey!important;
    background-color: white!important;
    color: $black!important;
    transition: 150ms!important;

    &:last-child {
        margin-bottom: 0!important;
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h1 {
        font-size: 22px;
        color: $blue-dark!important;
    }

    input, textarea, select {
        padding: 10px;
        font-weight: 300;
        color: $blue-dark;
        width: 100%;

        &[type=checkbox] {
            width: auto;
        }

        &::placeholder {
            color: $grey-light;
        }

        &:focus {
            border: 2px solid $blue-medium-transparent!important;
            color: $blue-medium;
        }
    }

    textarea {
        height: 150px!important;
    }

    button {
        width: auto;
        align-self: flex-end;
    }

    .box-info {
        i, span, li {
            color: $grey-dark;
            font-weight: 100;
            font-size: 13px;
        }

        &.text-md {
            i, span {
                font-size: 15px;
                font-weight: 400;
            }
        }

        &.link {
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .links {
        a {
            text-decoration: none;
            color: $grey-light;
            font-size: 13px;
            font-weight: 300;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@media (max-width: $mobile) {
    a {
        &.button {
            width: 100%;
        }
    }

    button {
        width: 100%!important;
    }

    input, textarea, select, button {
        height: 40px!important;
    }

    form {
        width: 100%!important;

        .links {
            a {
                font-size: 15px;
                margin-bottom: 5px;
            }
        }
    }
}