html {
    height: 100%;
    width: 100%;

    body {
        height: 100%;
        width: 100%;
        background-color: $background-color;
        font-family: 'Roboto'!important;

        main {
            h1, h2, h3, h4, h5, h6, span, p {
                color: $black;
            }

            &.private {
                margin-left: 70px;
            }
        }
    }
}