.modal-content {
    border: none!important;
    border-radius: $border-radius!important;

    .modal-header, .modal-body, .modal-footer {
        border-bottom: none!important;
    }

    .modal-header, .modal-body {
        padding: 0 5%!important;
        margin-bottom: 20px;

        .modal-title {
            font-weight: 800;
            font-size: 22px;
        }
    }

    .modal-header {
        padding-top: 5%!important;
    }
    
    .modal-body {
        color: $grey-dark;
        padding-bottom: 5%!important;
    }

    .modal-footer {
        background-color: $grey;

        button {
            margin-bottom: 0!important;
        }
    }
}