aside {
    &.side-bar {
        background-color: $blue-medium;
        width: 60px;
        height: 98vh;
        position: fixed;
        margin: 10px;
        border-radius: $border-radius;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 150ms;

        &:hover {
            width: 150px;
            box-shadow: 10px 0 23px -16px $blue;

            ul {
                align-items: flex-start;
            }

            a, div {
                &:not(.person-round) {
                    justify-content: flex-start;

                    i {
                        margin-right: 10px;
                    }
    
                    span {
                        left: 30%;
                        visibility: visible;
                        opacity: 0.7;
                    }
                }
            }
        }

        .person-round {
            height: 50px;
            width: 50px;
            background-color: $blue-dark;
            border-radius: 100%;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $grey;
            transition: 150ms;

            &:hover {
                background-color: $blue-dark-hover;
                color: $grey;
            }
        }

        ul {
            padding: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 80%;
            transition: align-items 300ms;

            li {
                list-style: none;
                width: 100%;
            }
        }

        a, div {
            text-decoration: none;
            color: white;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            i {
                font-size: 25px;
                opacity: 0.7;
                transition: 150ms;
            }

            span {
                font-size: 13px;
                position: absolute;
                align-self: center;
                opacity: 0;
                right: -100%;
                visibility: hidden;
                transition: 150ms;
            }

            &:hover {
                i, span {
                    opacity: 1!important;
                }
            }
        }

        div {
            cursor: pointer;
        }
    }
}

@media (max-width: $mobile) {
    aside {
        &.side-bar {
            width: 96%;
            margin: 2%;
            height: 50px;
            bottom: 0;
            position: fixed;
            border: 1px solid white;
            box-shadow: 0 10px 24px -14px black;
            flex-direction: row;
            padding: 5px;
            justify-content: space-between;

            &:hover {
                width: 96%;
                box-shadow: 0 10px 24px -14px black;
    
                a, div {
                    &:not(.person-round) {
                        justify-content: flex-start;
    
                        i {
                            margin-right: unset;
                        }
        
                        span {
                            left: unset;
                            visibility: visible;
                            opacity: 0.7;
                        }
                    }
                }
            }
    
            .person-round {
                height: 40px;
                width: 40px;
                max-height: 35px;
                padding: 5px;
                font-size: 15px;
                font-weight: 500;
            }

            ul {
                flex-direction: row;
                width: 80%;
                height: 100%;
                margin-bottom: 0;

                li {
                    a {
                        flex-direction: column;
                        align-items: center;
                        height: 100%;

                        i {
                            font-size: 20px;
                            position: relative;
                            top: 2.5px;
                        }

                        span {
                            opacity: 0.7;
                            right: unset;
                            visibility: visible;
                            position: relative;
                            font-size: 10px;
                            top: -2.5px;
                        }
                    }
                }
            }

            .disconnect {
                width: auto;
            }
        }
    }
}