$background-color: #eaf0f7;
$background-color-dark: #c4cbd5;
$grey: #dfe4ea;
$grey-dark: #747d8c;
$grey-light: #a4b0be;
$border-radius: .4rem;
$black: #2f3542;
$blue: #30bfe1;
$blue-hover:#29aece;
$blue-dark: #125c6c;
$blue-dark-hover: #0e4d5a;
$blue-dark-transparent: #125c6c85;
$blue-transparent: #30bfe147;
$red: #e13040;
$red-hover: #b72531;
$orange: #e1a630;
$orange-hover: #ba8927;
$green: #33bd4b;
$green-hover: #2da441;