$background-color: #eaf0f7;
$background-color-dark: #c4cbd5;
$grey: #dfe4ea;
$grey-dark: #747d8c;
$grey-light: #a4b0be;
$border-radius: 10px;
$black: #2f3542;
$blue: #30bfe1;
$blue-hover:#29aece;
$blue-dark: #125c6c;
$red: #e13040;