$background-color: #00b8dd0b;
$background-color-dark: #c4cbd5;
$grey: #dfe4ea;
$grey-dark: #747d8c;
$grey-light: #a4b0be;
$border-radius: .4rem;
$black: #2f3542;
$blue: #00b8dd;
$blue-medium: #007b91;
$blue-medium-transparent: #007b9187;
$blue-hover:rgb(38, 159, 189);
$blue-dark: #005C6C;
$blue-dark-hover: rgb(11, 66, 77);
$blue-dark-transparent: #005c6c64;
$blue-transparent: #00b8dd47;
$red: #dd0000;
$red-hover: rgb(159, 32, 42);
$orange: #e1a630;
$orange-hover: #ba8927;
$green: #00dd7d;
$green-hover: #00dd7d;