<div *ngIf="showSpinner" class="spinner-border"></div>
<ng-container *ngIf="!showSpinner">
    <div class="w-50 m-auto align-self-center">
        <alert *ngIf="isError" class="text-center" type="danger">
            {{ alertMessage }}
        </alert>
    </div>
    <div *ngIf="showForm" class="section-card">
        <form [formGroup]="setPasswordForm">
            <h1>Créez votre mot de passe</h1>
            <input (keyup)="verifyPassword()" formControlName="password" type="password" placeholder="Mot de passe">
            <div class="section-card theme password-verificator d-flex flex-column w-100">
                <div class="d-flex align-items-center" [ngClass]="passwordBiggerThan8 ? 'is-active' : ''">
                    <div class="round"></div>
                    <span>Doit contenir au moins 8 caractères</span>
                </div>
                <div [ngClass]="passwordHas2Numeric ? 'is-active' : ''" class="d-flex align-items-center">
                    <div class="round"></div>
                    <span>Doit contenir au moins 2 chiffres</span>
                </div>
                <div [ngClass]="passwordHas1SpecialChar ? 'is-active' : ''" class="d-flex align-items-center">
                    <div class="round"></div>
                    <span>
                        Doit contenir au moins 1 caractère spécial
                        <i tooltip="Caractères acceptés : {{ acceptedSpecialCharacters.join('') }}" placement="top" class="bi bi-info-circle"></i>
                    </span>
                </div>
            </div>
            <input formControlName="confirmPassword" type="password" placeholder="Confirmation de mot de passe">
            <div class="d-flex justify-content-between links">
                <a routerLink="/login">Retour à la connexion</a>
            </div>
            <alert *ngIf="showAlert" class="text-center" type="{{ alertType }}">
                {{ alertMessage }}
            </alert>
            <button
                (click)="onClick()"
                [disabled]="showButtonSpinner
                    ||
                setPasswordForm.invalid
                    ||
                !passwordBiggerThan8
                    ||
                !passwordHas2Numeric
                    ||
                !passwordHas1SpecialChar
                "
                class="blue"
            >
                <fa-icon [icon]="password" *ngIf="!showButtonSpinner"></fa-icon>
                <div *ngIf="showButtonSpinner" class="spinner-border"></div>
                Créer
            </button>
        </form>
    </div>
</ng-container>