@import '../../../../assets/scss/variables.scss';

.password-verificator {
    margin: 0;
    margin-bottom: 10px;

    div {
        &.is-active {
            .round {
                border: 2px solid $green;
                background-color: $green;
            }
        
            span {
                color: $green;
            }
        }

        .round {
            height: 15px;
            width: 15px;
            border-radius: 100%;
            border: 2px solid $grey-light;
            background-color: transparent;
            margin-right: 5px;
            transition: 150ms;
        }
    
        span {
            font-size: 14px;
            font-weight: 300;
            color: $grey-light;
            transition: 150ms;
        }
    }
}