<div class="section-card blue-medium w-100">
    <h4>{{ title }}</h4>
    <div class="table-responsive">
        <app-spinner *ngIf="showExportListVariable"/>
        <table *ngIf="!showExportListVariable" class="table">
            <thead>
                <tr>
                    <th scope="col">Demandé par</th>
                    <th scope="col">Tests facturés par</th>
                    <th scope="col">Demandé le</th>
                    <th scope="col">Pour la période</th>
                    <th scope="col">Fichier</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let export of exports; let i = index">
                    <td>{{ export.requestedBy.fullName }}</td>
                    <td>{{ export.dataFrom.fullName }}</td>
                    <td>{{ export.requestedAt }}</td>
                    <td>{{ export.requestedPeriod }}</td>
                    <td>
                        <button (click)="downloadExport(export.ref, i)" class="white small">
                            <i *ngIf="!export.showDownloadSpinner" class="fa-solid fa-download"></i>
                            <app-spinner *ngIf="export.showDownloadSpinner" [blueMedium]="true"/>
                            Télécharger
                        </button>
                    </td>
                    <td>
                        <button (click)="deleteExport(export.ref, i)" class="blue-medium small">
                            <i *ngIf="!export.showDeleteSpinner" class="fa-solid fa-trash"></i>
                            <app-spinner *ngIf="export.showDeleteSpinner"/>
                            Supprimer
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>