<aside (click)="toggleActive()" [ngClass]="isActive ? 'is-active' : ''" class="side-bar" (mouseenter)="enter()" (mouseleave)="leave()">
    <i class="bi bi-list mobile-icon"></i>
    <div class="elements-container">
        <div routerLink="/profile" class="person-round">{{ firstName[0] + lastName[0] }}</div>
        <div class="cara-center">
            <i class="bi bi-geo-fill"></i>
            <span>{{ center }}</span>
        </div>
        <ul>
            <li>
                <a routerLink="/home">
                    <i class="bi bi-house-door"></i>
                    <span>Accueil</span>
                </a>
            </li>
            <li>
                <a routerLink="/take-patient">
                    <i class="bi bi-pen"></i>
                    <span>Saisir un patient</span>
                </a>
            </li>
            <li>
                <a routerLink="/taken-patient">
                    <i class="bi bi-receipt-cutoff"></i>
                    <span>Tests facturés</span>
                </a>
            </li>
            <li *ngIf="isAdmin()">
                <a routerLink="/users">
                    <i class="bi bi-person-lines-fill"></i>
                    <span>Utilisateurs</span>
                </a>
            </li>
            <li>
                <a routerLink="/search">
                    <i class="bi bi-search"></i>
                    <span>Recherche</span>
                </a>
            </li>
            <li>
                <a routerLink="/support">
                    <i class="bi bi-chat-right-text"></i>
                    <span>Support</span>
                </a>
            </li>
        </ul>
        <div (click)="logout()" class="disconnect">
            <i class="bi bi-box-arrow-left"></i>
            <span>Déconnexion</span>
        </div>
    </div>
</aside>