<aside class="side-bar" (mouseenter)="enter()" (mouseleave)="leave()">
    <div routerLink="/profile" class="person-round">SC</div>
    <ul>
        <li>
            <a routerLink="/home">
                <i class="bi bi-house-door"></i>
                <span>Accueil</span>
            </a>
        </li>
        <li>
            <a routerLink="/take-patient">
                <i class="bi bi-pen"></i>
                <span>Saisir un patient</span>
            </a>
        </li>
        <li>
            <a routerLink="/home">
                <i class="bi bi-people"></i>
                <span>Patients saisis</span>
            </a>
        </li>
    </ul>
    <div (click)="logout()">
        <i class="bi bi-box-arrow-left"></i>
        <span>Déconnexion</span>
    </div>
</aside>