<div class="section-card white hover login">
    <form [formGroup]="formForgotPassword">
        <h1>Mot de passe oublié</h1>
        <input formControlName="email" type="mail" placeholder="Adresse mail de votre compte Liora">
        <div class="d-flex justify-content-between links">
            <a routerLink="/login">Retour à la connexion</a>
        </div>
        <div *ngIf="showAlert" class="section-card w-100 mb-2 mt-1 green">
            <div class="d-flex box-info text-md">
                <i class="bi bi-info-circle me-2"></i>
                <span>{{ alertMessage }}</span>
            </div>
        </div>
        <button (click)="onSubmit()" [disabled]="showSpinner || this.formForgotPassword.invalid" class="blue">
            <i *ngIf="!showSpinner" class="fa-solid fa-paper-plane"></i>
            <app-spinner *ngIf="showSpinner"/>
            Envoyer
        </button>
    </form>
</div>