<div *ngIf="isAlreadyConnected" class="section-card white hover d-flex flex-column align-items-center">
    <h5>{{ firstName }}, vous êtes déjà connecté(e) !</h5>
    <a routerLink="/home" class="button">
        <button class="blue">
            <i class="bi bi-house-door"></i>
            Aller à mon dashboard
        </button>
    </a>
</div>
<div *ngIf="!isAlreadyConnected" class="section-card white hover login">
    <form [formGroup]="formLogin">
        <h1>Connexion</h1>
        <input formControlName="username" type="mail" placeholder="Ex: mail@carasante.com">
        <input formControlName="password" type="password" placeholder="*******">
        <div class="d-flex justify-content-between links">
            <a routerLink="/forgot-password">Mot de passe oublié ?</a>
        </div>
        <alert *ngIf="isError" type="danger">
            {{ errorMessage }}
        </alert>
        <button (click)="onSubmit()" [disabled]="showSpinner || this.formLogin.invalid" class="blue">
            <i *ngIf="!showSpinner" class="bi bi-box-arrow-in-right"></i>
            <div *ngIf="showSpinner" class="spinner-border"></div>
            Connexion
        </button>
    </form>
</div>