<div *ngIf="showSpinner" class="spinner-border"></div>
<div *ngIf="!showSpinner" class="center">
    <div class="person-round">DJ</div>
    <div class="section-card blue w-100 m-0">
        <h1>Informations patient</h1>
        <div>
            <i class="bi bi-person-fill"></i>
            <span>{{ patient['firstName'] }} </span>
            <span>{{ patient['lastName'] }}</span>
        </div>
        <div>
            <i class="bi bi-calendar-day-fill"></i>
            <span>{{ patient['birth'] }}</span>
        </div>
        <div>
            <i class="bi bi-envelope-fill"></i>
            <span>{{ patient['mail'] }}</span>
        </div>
        <div>
            <i class="bi bi-telephone-fill"></i>
            <span>{{ patient['phone'] }}</span>
        </div>
        <div>
            <i class="bi bi-house-fill"></i>
            <span>{{ patient['street'] }} {{ patient['zip'] }} {{ patient['city'] }}</span>
        </div>
        <div>
            <i class="bi bi-file-earmark-medical-fill"></i>
            <span>{{ patient['nir'] }}</span>
        </div>
    </div>
    <div class="mt-5 col-12 d-flex flex-column">
        <form [formGroup]="dateForm">
            <h2>Ce patient a-t-il été facturé ?</h2>
            <div class="d-flex align-items-center justify-content-between col-5">
                <button class="blue col-5 mb-0" (click)="onSubmit()">Non <small>puis enregistrer</small></button>
                <button (click)="showDate()" class="blue-dark col-5">Oui</button>
            </div>
            <div [ngClass]="isDateActive ? 'is-active' : ''" class="date-section mt-3">
                <h3>Quand a-t-il été facturé ?<small>(Optionel)</small></h3>
                <input type="text" placeholder="Ajourd'hui" bsDatepicker formControlName="date" placement="right" [bsConfig]="bsConfig" />
                <div class="d-flex justify-content-end col-2">
                    <button class="blue-dark col-12" (click)="onSubmit()">
                        <i class="bi bi-save"></i>
                        Enregistrer
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>