<h1>Informations patient</h1>
<div *ngIf="showSpinner" class="spinner-border"></div>
<div class="section-card blue-medium w-100" *ngIf="!showSpinner && errorUpdatingBy">
    <div class="d-flex flex-column">
        <h2>Aïe !</h2>
        <span>Ce patient est en cours de modification un(e) de vos collègues...</span>
        <span>
            Pleins d'autres tests sont à saisir <a routerLink="/take-patient">juste ici !</a>
        </span>
    </div>
</div>
<div *ngIf="!showSpinner && !errorUpdatingBy" class="center">
    <div class="person-round">{{ patient['firstName'][0] + patient['lastName'][0] }}</div>
    <div class="section-card blue-medium w-100 m-0">
        <div>
            <i class="bi bi-person-fill"></i>
            <span>{{ patient['firstName'] }} </span>
            <span>{{ patient['lastName'] }}</span>
        </div>
        <div>
            <i class="bi bi-calendar-day-fill"></i>
            <span>{{ patient['birth'] }}</span>
        </div>
        <div>
            <i class="bi bi-envelope-fill"></i>
            <span>{{ patient['mail'] }}</span>
        </div>
        <div>
            <i class="bi bi-telephone-fill"></i>
            <span>{{ patient['phone'] }}</span>
        </div>
        <div>
            <i class="bi bi-house-fill"></i>
            <span>{{ patient['street'] }} {{ patient['zip'] }} {{ patient['city'] }}</span>
        </div>
        <div>
            <fa-icon [icon]="nir"></fa-icon>
            <span>{{ patient['nir'] }}</span>
        </div>
    </div>
    <ng-container *ngFor="let test of patient['detectionTest']">
        <div class="section-card white hover w-100 detection-test d-flex align-items-center justify-content-between">
            <div class="d-flex flex-column justify-content-center section-info">
                <h5>Testé le {{ test['frenchTestedAt'] }}</h5>
                <div *ngIf="test['isNegative'] !== null">
                    <fa-icon [icon]="faHandHoldingMedical"></fa-icon>
                    <span class="test-info">Résultat
                        <ng-container *ngIf="test['isNegative']">
                            <span class="badge rounded-pill bg-light text-dark">Négatif</span>
                        </ng-container>
                        <ng-container *ngIf="!test['isNegative']">
                            <span class="badge rounded-pill bg-danger">Positif</span>
                        </ng-container>
                    </span>
                </div>
                <div>
                    <i class="bi bi-file-post"></i>
                    <span class="test-info" *ngIf="!test['isInvoiced'] && test['user'] === null">Jamais saisit</span>
                    <span 
                        class="test-info"
                        *ngIf="!test['isInvoiced'] && test['user'] !== null"
                    >
                        Saisit mais non facturé, par {{ test['user']['firstName'] + ' ' + test['user']['lastName'] }}, le {{ test['filledAtFrench'] }}
                    </span>
                    <span class="test-info" *ngIf="test['isInvoiced']">Facturé le {{ test['filledAtFrench'] }}</span>
                </div>
            </div>
            <div>
                <button
                    *ngIf="!test['isInvoiced'] && test['user'] === null"
                    (click)="openModal(test)"
                    class="blue-medium"
                >
                    <i class="bi bi-pen"></i>
                    Saisir ce test
                </button>
                <button
                    *ngIf="!test['isInvoiced'] && test['user'] !== null"
                    (click)="openModal(test)"
                    class="orange"
                >
                    <i class="bi bi-pen"></i>
                    Facturer ce test
                </button>
                <span
                    *ngIf="test['isInvoiced']"
                    class="badge rounded-pill bg-success"
                >
                    Déjà saisit <small>par {{ test['user']['firstName'] + ' ' + test['user']['lastName'] }}</small>
                </span>
            </div>
        </div>
    </ng-container>
</div>