ng-select {
    width: 100%;

    .ng-value-container {
        .ng-value {
            top: 5px;
            position: relative;

            span {
                color: $blue-medium!important;
                font-weight: 400;
            }
        }

        .ng-input {
            opacity: 0!important;

            input {
                border: none!important;
            }
        }
    }
    
    span {
        &.ng-option-label {
            color: $blue-medium!important;
            font-weight: 400;
        }
    }

    .ng-clear-wrapper, .ng-arrow-wrapper {
        top: 5px;
    }
}