<div class="title-container-elements">
    <div class="title-container">
        <h1>Recherche</h1>
    </div>
    <a routerLink="/search/history">Voir mon historique</a>
</div>
<div class="section-card white w-100">
    <form [formGroup]="searchForm">
        <div (click)="showModal(template)" class="d-flex box-info link mb-2">
            <i class="bi bi-question-circle me-1"></i>
            <span>Que rechercher ?</span>
        </div>
        <input formControlName="search" type="text" placeholder="Votre recherche">
        <button (click)="search()" class="blue-medium">
            <i *ngIf="!showButtonSpinner" class="bi bi-search"></i>
            <app-spinner *ngIf="showButtonSpinner"/>
            Rechercher
        </button>
    </form>
</div>
<div class="title-container-elements mt-3">
    <div class="title-container">
        <h2>Résultats</h2>
        <span>
            - {{ countSearch }} 
            <span *ngIf="countSearch > 0">
                trouvés
            </span>
            <span *ngIf="countSearch === 0">
                trouvé
            </span>
        </span>
    </div>
</div>
<div class="section-card white hover w-100 mt-1">
    <app-spinner *ngIf="showButtonSpinner"/>
    <div class="table-responsive">
        <table *ngIf="!showButtonSpinner" class="table table-striped table-hover">
            <thead>
                <tr>
                  <th scope="col">Prénom</th>
                  <th scope="col">Nom</th>
                  <th scope="col">N° de sécurité sociale</th>
                </tr>
            </thead>
            <tbody>
                <span *ngIf="searchResults && searchResults.length === 0">
                    Aucun résultat
                </span>
                <ng-container *ngIf="searchResults && searchResults.length > 0">
                    <tr
                        *ngFor="let result of searchResults"
                        (click)="onClick(result)"
                    >
                        <th scope="row">{{ result.firstName }}</th>
                        <td>{{ result.lastName }}</td>
                        <td>{{ result.nir }}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Vous pouvez rechercher un patient par :</h4>
    </div>
    <div class="modal-body">
        <ul>
            <li>Prénom</li>
            <li>Nom</li>
            <li>Adresse mail</li>
            <li>Numéro de sécurité sociale</li>
            <li>Code postal</li>
            <li>Ville</li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="blue-medium" (click)="hideModal()">
            <i class="bi bi-check2-circle"></i>
            C'est compris, merci !
        </button>
    </div>
</ng-template>