<div class="title-container-elements">
    <div class="title-container">
        <h1>Recherche</h1>
    </div>
    <a routerLink="/search/history">Voir mon historique</a>
</div>
<div class="section-card white w-100">
    <form [formGroup]="searchForm">
        <div [ngClass]="isCardInfoHidden ? 'd-none' : 'd-flex'" class="section-card theme w-100 mb-3">
            <i (click)="closeCardInfo()" class="bi bi-x-circle close"></i>
            <div class="d-flex box-info">
                <i class="bi bi-info-circle me-2"></i>
                <span>
                    Vous pouvre rechercher un patient par :
                    <ul>
                        <li>Prénom</li>
                        <li>Nom</li>
                        <li>Adresse mail</li>
                        <li>Numéro de sécurité sociale</li>
                        <li>Code postal</li>
                        <li>Ville</li>
                    </ul>
                </span>
            </div>
        </div>
        <input formControlName="search" type="text" placeholder="Votre recherche">
        <button (click)="search()" class="blue-medium">
            <i *ngIf="!showButtonSpinner" class="bi bi-search"></i>
            <div *ngIf="showButtonSpinner" class="spinner-border"></div>
            Rechercher
        </button>
    </form>
</div>
<div class="title-container-elements mt-3">
    <div class="title-container">
        <h2>Résultats</h2>
        <span>
            - {{ countSearch }} 
            <span *ngIf="countSearch > 0">
                trouvés
            </span>
            <span *ngIf="countSearch === 0">
                trouvé
            </span>
        </span>
    </div>
</div>
<div class="section-card white hover w-100 mt-1">
    <div *ngIf="showButtonSpinner" class="spinner-border relative"></div>
    <div class="table-responsive">
        <table *ngIf="!showButtonSpinner" class="table table-striped table-hover">
            <thead>
                <tr>
                  <th scope="col">Prénom</th>
                  <th scope="col">Nom</th>
                  <th scope="col">N° de sécurité sociale</th>
                </tr>
            </thead>
            <tbody>
                <span *ngIf="searchResults && searchResults.length === 0">
                    Aucun résultat
                </span>
                <ng-container *ngIf="searchResults && searchResults.length > 0">
                    <tr
                        *ngFor="let result of searchResults"
                        (click)="onClick(result)"
                    >
                        <th scope="row">{{ result.firstName }}</th>
                        <td>{{ result.lastName }}</td>
                        <td>{{ result.nir }}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>