<div class="modal-header">
    <h4 class="modal-title pull-left">Ce test a-t-il été facturé ?</h4>
</div>
<div class="modal-body">
    <form [formGroup]="dateForm">
        <div class="answer-container">
            <span (click)="onClick('no')" [ngClass]="noClicked ? 'clicked' : ''">Non</span>
            <hr/>
            <span (click)="onClick('yes')" [ngClass]="yesClicked ? 'clicked' : ''">Oui</span>
        </div>
        <div [ngClass]="isDateActive ? 'is-active' : ''" class="date-section mt-3 flex-column">
            <span>Quand a-t-il été facturé ?<small>(Optionel)</small></span>
            <input
                type="text"
                class="col-6"
                placeholder="Ajourd'hui (par défaut)"
                bsDatepicker
                formControlName="filledAt"
                placement="right"
                [bsConfig]="bsConfig"
                [maxDate]="maxDate"
            />
        </div>
        <div [ngClass]="!isDateActive ? 'd-none' : ''" class="mt-3 d-flex flex-row-reverse">
            <label for="validateAll">
                Facturer tous les tests de {{ detectionTest.patient.firstName + ' ' + detectionTest.patient.lastName }} du même jour <small>(Optionel) </small>
                <i
                    class="bi bi-question-circle-fill"
                    tooltip="Tous les tests du même jour que le {{ detectionTest.frenchTestedAt }} pour {{ detectionTest.patient.firstName + ' ' + detectionTest.patient.lastName }} seront automatiquement facturés avec les informations que vous renseignerez."
                ></i>
            </label>
            <input
                type="checkbox"
                formControlName="validateAll"
                class="me-1"
                [attr.checked]="validateAll"
                id="validateAll"
            />
        </div>
        <div [ngClass]="!isDateActive || dateForm.value.isAlreadyInvoicedBy ? 'd-none' : ''" class="mt-3 d-flex flex-row-reverse">
            <label for="isInvoicedOnAmelipro">
                Ce test a déjà été facturé via AmeliPro <small>(Optionel)</small>
            </label>
            <input
                type="checkbox"
                formControlName="isInvoicedOnAmelipro"
                class="me-1"
                [attr.checked]="dateForm.value.isInvoicedOnAmelipro"
                id="isInvoicedOnAmelipro"
            />
        </div>
        <div [ngClass]="!isDateActive || dateForm.value.isInvoicedOnAmelipro ? 'd-none' : ''" class="mt-3 w-100">
            <label for="alreadyInvoicedBy">
                Facturé par <small>(Optionel) </small>
                <i
                    class="bi bi-question-circle-fill"
                    tooltip="Vous pouvez indiquez qu'un autre utilisateur a facturé ce test, mais votre nom apparaîtra en tant que saisie."
                ></i>
            </label>
            <ng-select
                [items]="users" 
                bindLabel="fullName" 
                bindValue="id"
                formControlName="alreadyInvoicedBy"
                class="me-1"
                id="alreadyInvoicedBy"
                placeholder="Sélectionnez un utilisateur"
            >
            </ng-select>
        </div>
    </form>
    <div class="mt-3">
        <alert *ngIf="isError" type="danger">
            {{ errorMessage }}
        </alert>
    </div>
    
</div>
<div class="modal-footer">
    <button class="white" (click)="onClose()">
        <i class="bi bi-x-circle"></i>
        Annuler
    </button>
    <button (click)="onSubmit()" class="blue-medium">
        <i *ngIf="!showSpinner" class="bi bi-check-circle-fill"></i>
        <div *ngIf="showSpinner" class="spinner-border"></div>
        Enregister
    </button>
</div>