<h1>Mon profile</h1>

<div class="section-card blue-medium w-100">
    <h2>Informations</h2>
    <div *ngIf="showSpinner" class="spinner-border"></div>
    <ng-container *ngIf="!showSpinner">
        <div>
            <i class="bi bi-person-fill"></i>
            <span>{{ user['firstName'] }} </span>
            <span>{{ user['lastName'] }}</span>
        </div>
        <div>
            <i class="bi bi-envelope-fill"></i>
            <span>{{ user['mail'] }}</span>
        </div>
        <div>
            <i class="bi bi-telephone-fill"></i>
            <span>{{ user['phone'] }}</span>
        </div>
    </ng-container>
</div>

<div class="card-container">
    <div class="section-card blue hover">
        <h3>Informations complémentaires</h3>
        <div *ngIf="showSpinner" class="spinner-border"></div>
        <ng-container *ngIf="!showSpinner">
            <div>
                <i class="bi bi-people"></i>
                <span>{{ user['roles'] }} </span>
            </div>
            <div>
                <i class="bi bi-pen"></i>
                <span>Inscrit le {{ user['createdAt'] }}</span>
            </div>
            <div *ngIf="user['lastLoginFrench']">
                <i class="bi bi-box-arrow-in-right"></i>
                <span>Dernière connexion : {{ user['lastLoginFrench'] }}</span>
            </div>
        </ng-container>
    </div>

    <div class="section-card blue hover">
        <h3>Statistiques</h3>
        <div *ngIf="showSpinner" class="spinner-border"></div>
        <ng-container *ngIf="!showSpinner">
            <div>
                <i class="bi bi-laptop"></i>
                <span>
                    {{ user.detectionTests.length }} patients saisit <small>(total), dont {{ user.totalInvoiced }} facturé(s)</small>
                </span>
            </div>
        </ng-container>
    </div>
</div>

<div class="card-container">
    <div class="section-card white hover">
        <h4>Mettre à jour mes informations</h4>
        <form [formGroup]="profileForm">
            <div class="d-flex">
                <input formControlName="firstName" type="text" class="w-50 me-2" placeholder="Prénom (facultatif)">
                <input formControlName="lastName" type="text" class="w-50 ms-2" placeholder="Nom (facultatif)">
            </div>
            <input formControlName="phone" type="phone" class="w-50" placeholder="Téléphone (facultatif)">
            <div class="d-flex box-info mb-2">
                <i class="bi bi-info-circle"></i>
                <span>Format type attendu : 0701020304</span>
            </div>
            <input formControlName="mail" type="mail" placeholder="Adresse mail (facultatif)">
            <div class="d-flex box-info mb-2">
                <i class="bi bi-info-circle"></i>
                <span>Format type attendu : mail@domaine.com, mail@domaine.fr...</span>
            </div>
            <div class="section-card theme w-100 mb-2">
                <div class="d-flex box-info">
                    <i class="bi bi-info-circle"></i>
                    <span>Une mise à jour du profile entraînera une déconnexion afin d'actualiser vos informations.</span>
                </div>
            </div>
            <alert class="mt-2" *ngIf="isError" type="danger">
                {{ errorMessage }}
            </alert>
            <button
                [disabled]="showProfileButtonSpinner || profileForm.invalid"
                (click)="onSubmitProfile()"
                class="blue float-end w-auto"
                >
                <fa-icon *ngIf="!showProfileButtonSpinner" [icon]="update"></fa-icon>
                <div *ngIf="showProfileButtonSpinner" class="spinner-border"></div>
                Mettre à jour mes informations
            </button>
        </form>
    </div>
    <div class="card-container d-flex flex-column">
        <div class="section-card blue-medium hover">
            <h4>Mettre à jour mon mot de passe</h4>
            <button (click)="forgotPassword()" class="white align-self-baseline">
                <fa-icon *ngIf="!showForgotPasswordSpinner" [icon]="password"></fa-icon>
                <div *ngIf="showForgotPasswordSpinner" class="spinner-border"></div>
                Changer mon mot de passe
            </button>
        </div>
        <app-user-export-request
            (exportsEvent)="exports = $event"
            (showExportListVariable)="showExportListVariable = $event"
        />
    </div>
</div>
<app-user-export-list
    [exports]="exports"
    [showExportListVariable]="showExportListVariable"
/>