@import '../../../../assets//scss/variables.scss';

.card-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px 0;

    .section-card {
        width: 49%;
        margin: 0;

        div {
            i, fa-icon {
                margin-right: 10px;
            }
        }
    }
}

@media (max-width: $mobile) {
    .section-card {
        width: 100%!important;
        margin-bottom: 10px!important;
    }

    .card-container {
        flex-direction: column;
        margin: 0;
    }
}