<div class="title-container-elements">
    <div class="title-container">
        <h1>Patients à saisir</h1>
        <span>
            - {{ detectionTestsLength }} 
            <span *ngIf="detectionTestsLength > 0">
                trouvés
            </span>
            <span *ngIf="detectionTestsLength === 0">
                trouvé
            </span>
        </span>
    </div>
    <span class="info">Actualisation dans {{ countBeforeReloadPatient }} secondes</span>
</div>
<div class="section-card w-100">
    <div *ngIf="showSpinner" class="spinner-border relative"></div>
    <div class="table-responsive">
        <table *ngIf="!showSpinner" class="table table-striped table-hover">
            <thead>
                <tr>
                  <th scope="col">Prénom</th>
                  <th scope="col">Nom</th>
                  <th scope="col">N° sécurité sociale</th>
                  <th scope="col">Test(s) à saisir</th>
                  <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                    <tr
                        (click)="onClick(detectionTest)"
                        [ngClass]="detectionTest.isUpdating && detectionTest.updatingBy.ref !== userTokenRef ? 'disabled' : ''"
                        *ngFor="let detectionTest of detectionTests"
                    >
                    <th scope="row">{{ detectionTest.patient.firstName }}</th>
                    <td>{{ detectionTest.patient.lastName }}</td>
                    <td>{{ detectionTest.patient.nir }}</td>
                    <td>
                        <span class="badge bg-secondary">4</span>
                    </td>
                    <td>
                        <ng-container *ngIf="detectionTest.isUpdating">
                            <span class="badge rounded-pill bg-danger text-light">
                                Modification en cours par 
                                <small
                                    *ngIf="detectionTest.updatingBy.ref !== userTokenRef"
                                >
                                    {{ detectionTest.updatingBy.firstName + ' ' + detectionTest.updatingBy.lastName }}
                                </small>
                                <small
                                    *ngIf="detectionTest.updatingBy.ref === userTokenRef"
                                >
                                    vous
                                </small>
                            </span>
                        </ng-container>
                        <ng-container *ngIf="!detectionTest.isUpdating">
                            <span class="badge rounded-pill bg-success">Disponbile</span>
                        </ng-container>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>